/* Global */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* Container */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
    color: #fff;
    position: fixed;
    top: 0px; 
    bottom: 0px;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
    z-index: 1;
}

/* Hover Effect for Sidebar Items */
.sidebar-item:hover {
    background-color: #234bdbb5;
    color: #fff;
}

.sidebar-item {
    padding: 10px 20px;
    margin-bottom: 19px;
    margin-top:12px;
}

/* User Info */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

/* Dashboard Title */
.welcome-container {
    text-align: center;
    margin-bottom: 30px;
    margin-right:25px;
}

.welcome-small {
    font-size: 16px;
}

.welcome-large {
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px; 
}


/* Navigation Links */
.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    background-color: #ecf0f1;
    flex: 1;
    min-height: 94vh;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 28px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

.close-btn , #close-btn-employee, .close-btn-request{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-btn-employee{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Form styling */
.form-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center; 
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
}

.form-submit:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
}

/* ADMIN DASHBOARD*/

/* User Table Container */
#userTableContainer, #projectTableContainer, #manageUsersContainer {
    text-align: center;
}

/* User Table */
#userTable, #manageUsersTable {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    background-color: white;
}

#userTable th, #userTable td,
#projectTable th, #projectTable td,
#manageUsersTable th, #manageUsersTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#userTable th, #projectTable th, #manageUsersTable th {
    background-color: #3498db;
    color: white;
}

#userTable tr:hover, #projectTable tr:hover, #manageUsersTable tr:hover {
    background-color: #f1f1f1;
}

#projectTable {
	margin-top:45px;
    width: 97%;
    border-collapse: collapse;
    background-color: white;
}

#projectTableContainer #projectTable{
	    width: 85%;
	    margin-left:77px;
	
}


/* Additional Styles */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-top:18px;
}

.create-user-btn, .create-project-btn{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

/* Button Styles */
.unassign-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.create-project-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
        margin-left: 12px;
    
}

.delete-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#manageUsersTable .delete-btn {
    margin-left: 10px; 
}

#manageUsersTable .edit-btn {
    margin-right: 5px; 
}

/* Modal Enhancements */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 28px;
    border-radius: 10px;
    width: 90%;
    max-width: 300px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Form Container Enhancements */
.form-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center; 
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
}

.form-submit:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
}

/* Request Table */
#requestsTableContainer {
    text-align: center;
}

/* Request Table */
#requestsTable {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    background-color: white;
}

#requestsTable th, #requestsTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#requestsTable th {
    background-color: #3498db;
    color: white;
}

#requestsTable tr:hover {
    background-color: #f1f1f1;
}

#requestsTable td .approve-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px; 
}

#requestsTable td .reject-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}


/*EMPLOYEE DASHBOARD*/
/* Project Details Section Styling */
#projectDetailsSection {
    display: none;
    margin-top: 20px;
    margin-left:50px
}

#projectList {
    margin-bottom: 30px;
}


#projectList ul {
    list-style: none; 
    padding: 0;
}

#projectList li {
    margin-bottom: 5px;
    padding: 5px;
        margin-left: 12px;
    
}
#projectList p {
    font-weight: bold;
}
/* Make "Project Manager" and "Team Members" bold */
#projectList h3 {
    font-weight: bold;
}

/* View Profile Section Styling */
#profileSection {
    display: none;
    margin-top: 20px;
    margin-left: 50px;
}
#skillsList {
	margin-top:65px;
    margin-bottom: 20px;
}

#skillsContainer {
    list-style: none; 
    padding: 0;
}

#skillsContainer li {
    margin-bottom: 5px;
    padding: 5px;
    list-style-type: disc;
    margin-left:20px;
}

#addSkillForm {
   margin-top: 29px;
}

#addSkillForm button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left:5px;
}

#addSkillForm button:hover {
    background-color: #0056b3;
}

/* View Users Section Styling */
#userList {
    display: none;
    margin-top: 20px;
        margin-left: 50px;

}
#userList table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;  
}
#userList th, #userList td {
    padding: 10px;
    border: 1px solid #ddd;
}
#userList th {
    background-color: #3498db;
    color: white;
}
#userList tr:nth-child(even) {
    background-color: #f2f2f2;
}
#userList tr:hover {
    background-color: #ddd;
}
#projectList {
    margin-top: 30px;
    margin-bottom: -13px;

}

/* MANAGER DASHBOARD*/
.close-btn-manager {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#filterHeading{
    margin-bottom: -48px;
}

#filterOptions {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 85px;
}

#filterOptions h2 {
    margin-right: 10px;
}
 #filterOptions {
     margin-left: 78px;
}
 .filter-options {
     margin-left: 90px;
}

.skill-label{
	padding:23px;
} 
/* Heading and List Margins */
#userList, #filterOptions {
    margin-left: 50px;
    margin-top: 36px;
}
.createReq{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left:400px;
}

#addEmailBtn{
	 background-color: #007bff;
       color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     margin-bottom: 13px;

}

.mgrprojectList{
	margin-left:50px;
}
/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
    }
}



