/* Global  */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* homepage (index.html) */
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(108vh - 60px);
    background-color: #DEEFF5;
}

.welcome-text {
    color: black;
    font-size: 2.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 58px;
}

/* Login Box */
.login-box {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 262px;
    height: 399px;
    text-align: left;
        margin-bottom: 35px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#2471e0;
    color: white;
    cursor: pointer;
     justify-content: center; 
  align-items: center;
   text-align: center;
}
.error {
    color: red;
    margin-top: 5px;
}
